<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Some website</title>
    </head>
    <body>
       {{> header}}
       
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam iste in voluptates, hic illo quaerat corrupti doloribus aut delectus expedita ipsum, modi exercitationem temporibus nesciunt eius provident necessitatibus voluptatum. Dolor.</h1>
        <h1>{{pageTitle}}</h1>
        
        {{> footer}}
    </body>
</html>